@CHARSET "UTF-8";

.site-wrapper {
	display:block !important;	
}

#siteName {
	color:#fff !important;
}

body {
	text-align:left !important;
}

.list-group-item {
	background-color: #222 !important;
    border-color: #191919 !important;	
}