@CHARSET "UTF-8";

.site-wrapper {
	display:block !important;	
}

#siteName {
	color:#fff !important;
}

body {
	text-align:left !important;
}

.list-group-item {
	background-color: #222 !important;
    border-color: #191919 !important;	
}

#contentsArea div h3 {
	border-bottom:2px solid #fff !important;	
	padding-bottom:5px !important;
}

#contentsArea #subject {
	border-bottom:2px solid #fff !important;	
	padding-bottom:5px !important;
	margin-bottom:10px;
}

#contentsArea #subject h3 {
	border-bottom:none !important;	
	padding-bottom:none !important;
}

#list .list-group-item {
	color:#fff !important;
}

.pager a {
	background-color: #222 !important;
    border-color: #191919 !important;
}

.pager li {
	margin-left:1px !important;
	margin-right:1px !important;	
}

.pager li.active a {
	background-color:#233 !important;
}

#controll {
	margin-top:10px;
}

.float-right {
	float:right;
}

.clear-both-padding {
	padding-left:0px;
	padding-right:0px;
}

#save,
#previous,
#backward {
	margin-right:5px;
}

.modal-content {
	padding:10px;
	text-align:center;
	color:#333;
}

.ended {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding:12px 0px;
    background-color: #000;
    margin-bottom: -37px;
    z-index: 1;
    position: relative;
    opacity: .8;
    color: #fff;
    width: 40px;
    float: right;
}

#player {
	float:left;
	background-color:#000;
}

.srt {
	z-index: 2147483647 !important;
	position:absolute;
	width:100%;
	text-align:center;
	padding:0px 10px;
}

.fullscreen {
	width:100% !important;
}	

#fullscreenOff {
	width:100%;
	text-align:right;
	z-index: 2147483647 !important;
	position:absolute;
	padding:10px;
}

#fullscreenOff button {
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display{}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
video::-webkit-media-controls-volume-slider {}

